
APIKEY=abcd1234 # JCDecaux API Key

PASSWORD=changemeeee # db password (you need to change this!)

# After this point, you don't really need to change anything

USER=velov-companion # db user

SCHEMA=velov-companion # db name